
@{
    ViewData["Title"] = "Search";
    List<Question> Results = (List<Question>)ViewData["Results"];
}


<h1>Search</h1>

@foreach (Question q in Results)
{
    <h3><a href="/QandA/Detail/@q.Id">@q.Title</a></h3>
    @if (q.Detail.Length > 100)
    {
        <div>@q.Detail.Substring(0, 100) ...</div><a href="/QandA/EditQuestion/@q.Id">Edit</a>
    }
    else
    {
        <div>@q.Detail</div><a href="/QandA/EditQuestion/@q.Id">Edit</a>
    }
    @q.Username
}